<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.test.helloworld">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="Naval Offensive"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:enabled="true" android:name=".BackgroundSoundService" />
        <service android:enabled="true" android:name=".LoadingSoundService" />
        <service android:enabled="true" android:name=".GamePlay_Music_1_Service" />
        <service android:enabled="true" android:name=".GamePlay_Music_2_Service" />
        <service android:enabled="true" android:name=".GamePlay_Music_3_Service" />
        <service android:enabled="true" android:name=".GamePlay_Music_4_Service" />

        <activity android:name=".SplashActivity1"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SplashActivity2"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".PlayMenuActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".CampaignListActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".ShopActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".Stage1_Loading_Activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".Stage1_Prologue_Activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

        <activity android:name=".Stage1_a_Activity"
            android:theme="@style/AppTheme"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>